# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SQLite database
*.sqlite

# Output CSVs
holders-*.csv

# IDE files
.vscode/
.DS_Store

# Optional cache folders
.cache/
